Package: com.tr1fectaandcameren.bruhkeystm
Name: BruhKeysTM
Depends: mobilesubstrate
Version: 1.0.1
Architecture: iphoneos-arm
Description: BruhKeysTM, The official BruhKeys! Copyright: Cameren & Tr1Fecta
Maintainer: Cameren & Tr1Fecta 
Author: Cameren & Tr1Fecta
Section: Tweaks
