<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>cell</key>
			<string>PSSwitchCell</string>
			<key>default</key>
			<true/>
			<key>defaults</key>
			<string>com.tr1fectaandcameren.bruhkeystmprefs</string>
			<key>key</key>
			<string>enabled</string>
			<key>label</key>
			<string>Enabled</string>
			<key>PostNotification</key>
			<string>com.tr1fectaandcameren.bruhkeystmprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSEditTextViewCell</string>
			<key>defaults</key>
			<string>com.tr1fectaandcameren.bruhkeystmprefs</string>
			<key>key</key>
			<string>text</string>
			<key>label</key>
			<string>3MP File Name</string>
		</dict>
		<dict>
        <key>cell</key>
        <string>PSLinkListCell</string>
        <key>defaults</key>
        <string>com.tr1fectaandcameren.bruhkeystmprefs</string>
        <key>key</key>
        <string>selectedSound</string>
        <key>label</key>
        <string>Sound</string>
        <key>detail</key>
        <string>PSListItemsController</string>
        <key>validTitles</key>
        <array>
            <string>bruh</string>
            <string>PPA</string>
            <string>PAFU</string>
        </array>
        <key>validValues</key>
        <array>
            <integer>0</integer>
            <integer>1</integer>
            <integer>2</integer>
        </array>
        <key>default</key>
        <integer>0</integer>
        <key>PostNotification</key>
        <string>com.tr1fectaandcameren.bruhkeystmprefs/ReloadPrefs</string>
    	</dict>
		<dict>
			<key>cell</key>
			<string>PSSliderCell</string>
			<key>default</key>
			<string>1.0</string>
			<key>defaults</key>
			<string>com.tr1fectaandcameren.bruhkeystmprefs</string>
			<key>isSegmented</key>
			<false/>
			<key>key</key>
			<string>kDockAlpha</string>
			<key>max</key>
			<string>1.0</string>
			<key>min</key>
			<string>0.0</string>
			<key>showValue</key>
			<true/>
			<key>PostNotification</key>
			<string>com.tr1fectaandcameren.bruhkeystmprefs/ReloadPrefs</string>
		</dict>
		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>Please read the information.</string>
		</dict>
		<dict>
			<key>action</key>
			<string>respring:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Respring</string>
		</dict>
		<dict>
		    <key>cellClass</key>
			<string>HBTwitterCell</string>
			<key>action</key>
			<string>openTwitter:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Twiter</string>
			<key>user</key>
			<string>zunda_pixel</string>
		</dict>
		<dict>
			<key>action</key>
			<string>sourceLink:</string>
			<key>cell</key>
			<string>PSButtonCell</string>
			<key>cellClass</key>
			<string>HBTintedTableCell</string>
			<key>label</key>
			<string>Source GitHub</string>
		</dict>

		<dict>
			<key>cell</key>
			<string>PSGroupCell</string>
			<key>label</key>
			<string>BruhKeysTM. Developed by Tr1Fecta thanks to Cameren :DDDly</string>
		</dict>
	</array>
	<key>title</key>
	<string>BruhKeysTM</string>
</dict>
</plist>
